@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 5em;
	background-color: #FF6473;
	border-radius: 1px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	border: 0;
	color: #fff;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #9C9392;
}

.btn:hover {
  background: #FF917E;
  text-decoration: none;
}