@charset "UTF-8";
/* CSS Document */

.bottom {
	background: #000;
	height: 70px;
	width: auto;
	color: #fff;
	padding: 10px;
	margin-top: 30px
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display:block;
}


.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
display:block;
}

.social li a,
.social li a:link,
.social li a:visited{
	display:inline;
	float:right;
	width: 32px;
	height: 32px;
	margin-right: 1rem;
	text-align:center;
	padding-top: 0.025rem;
	-webkit-border-radius: 10%;
	-moz-border-radius: 10%;
	-ms-border-radius: 10%;
	-o-border-radius: 10%;
	border-radius: 10%;
	
	color:#FFF;
	/*background-color: #222;*/
	
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #FF6473;
	-moz-box-shadow: inset 0px 0px 0px 40px #FF6473;
	-ms-box-shadow: inset 0px 0px 0px 40px #FF6473;
	-o-box-shadow: inset 0px 0px 0px 40px #FF6473;
	box-shadow: inset 0px 0px 0px 40px #FF6473;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #FF917E;
	-moz-box-shadow: inset 0px 0px 0px 3px #FF917E;
	-ms-box-shadow: inset 0px 0px 0px 3px #FF917E;
	-o-box-shadow: inset 0px 0px 0px 3px #FF917E;
	box-shadow: inset 0px 0px 0px 3px #FF917E;
	color: #fff;
}

.list-group {
	list-style-type:none;
}

.list-group-item-list-group-item-inline{
	display:inline-block;
	float:right;
	margin-top: -2rem;
}
