@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0; }

html {
  padding: 5px; 
 }

.display-block { display: block; 
}

.grid_3 {
  width: 400px;
  float: left;
  margin-right: 30px; 
}
 
 
.bucket {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  }

.bucket-title {
  margin-bottom: 5px; 
  }

.bucket-img {
	padding: 15px;
}

.bucket-base {
  padding: 25px;  
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  }

.bucket-base-1 {
 /* keep height separate for using taller buckets on other pages */
  height: 400px; 
  } 
  
  /* large???????>>>>>>>>>>>>>>>>>>>>>>>>>>??????????????????>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  .billboard {
	height: 5rem;
	position:absolute;
	margin-top: 1rem;
}

.media {
	overflow:hidden;
}

.media-img {
	float:left;
	margin: 0 2px 0 0;
	padding: 5px;
}

.media-body {
	overflow: hidden;
	padding: 10px;
}

