html {
  font:  normal 100%/2 'Ubuntu', sans-serif;; /* 16px/24px */
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table,
.space {
  margin: 0 0 2rem;
}

.space-none {
  margin-bottom: 0;
}

.space-double {
  margin-bottom: 4.0000rem;
}

.space-half {
  margin-bottom: 1.0000rem;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.2583;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.0486;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.3107;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.6384;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.0240;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.2800;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.6000;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 2.0000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 2.5000;
}

.micro {
  font-size: 0.6400rem;
  line-height: 3.1250;
}



h1, h2, h3, h4, h5, h6, .brand {
  font-family: font-family: 'Ubuntu', sans-serif;;
  color: #F97694;
}

.brand-color {
  color: #F97694;
}

.brand-family {
  font-family: font-family: 'Ubuntu', sans-serif;
}

::selection {
  background-color: #F97694;
  color: #fff;
}

a,
a:link{
  color: #F74870;
  text-decoration:none;
  border-bottom: 0.1em solid #F40BB3;
  transition: all 250 linear;
}

a:visited {
  color: #696;
  border-bottom-color: #F40BB3;
}

a:hover,
a:focus,
a:active {
  color: #F40BB3;
  border-bottom-color: #F40BB3;
}

ul{
  list-style-type:none;
}

ul li{
  position:relative; /*cordinate of anything inside the ul is base on the ul*/
}

ul li:before {
  content: "➨";
  color: #F40BB3;
  position: absolute;
  left: -1em;
}