
# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Quynh Nguyen}
- {Elzahra Elghirani}
- {Stacy Cowan}
- {Iman Ghader}
- {Michelle Dugas}
- {Alissa Dicaire}


## Tasks

1. {Add a Chloe perfume to your cart}
2. {Buy A Versace Cologne}
3. {Browse Women's Perfume}

---

## Individual Results & Observations

### {Quynh Nguyen}

- {She expected the tab to highlight the "QTY" dropdown but it didn't}
- {She had no real troubles finding the Chloe perfume}

### {Elzahra Elghirani}

- {She started from the homepage and navigated comfortably throughout the site}
- {She had no problem completing a specific tasks}

### {Stacy Cowan}

- {She expected the tab to highlight the "QTY" dropdown but it didn't but she used the arrow keys to select quantity.}

### {Iman Ghader}

- {She completed the task with ease and has no issues}

### {Michelle Dugas}

- {She completed the tasks properly and in a timely manner}
- {Made a suggestion to edit some ALT tags}

### {Alissa Dicaire}

- {She didn't have any questions or concerns}
- {Completed all the tasks properly?

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Some users has a problem with they QTY dropdown selction area because it doesnt highlight}
-{Not everyone noticed that they QTY didn't highlight so they didnt make a QTY selection}


### Serious, Causes Frustration, May Hinder Completion

- {All of the users comepleted their tasks without making a QTY selection but two of six people notice the dropdown was there and they were unsucceessful in selecting a QTY option}


### Minor, Annoying, Won’t Hinder Completion

- {Edit some ALT tags}
