---
layout: default
title: Men's Cologne
---

<div id='cssmenusub'>
		<ul>
		   <li class="{% if page.url == '/womens-perfume/' %}active{% endif %}"><a href="{{site.baseurl}}/womens-perfume/">Women's Pefume</a></li>
		   <li class="{% if page.url == '/mens-cologne/' %}active{% endif %}"><a href="{{site.baseurl}}/mens-cologne/">Men's Cologne</a></li>
		</ul>
</div>

<ul>
	{% for fragrance in site.pages %}
		{% if fragrance.category == 'mens-cologne' %}
			<li>
			<a href="{{site.baseurl}}{{fragrance.url}}">
			<img src="{{site.baseurl}}/images/{{fragrance.image}}" alt="">
			{{fragrance.title}}
			</li>
		{% endif %}
	{% endfor %}
</ul>
