# User Testing Report

User testing was conducted by {Nichole Veiro} on {April 3rd} between the times of {10:00am} and {11:00pm} with the following participants:

- {Quynh Nguyen}
- {John Doe}
- {Jordan Doe}

## Tasks

1. {Add a Chloe perfume to your cart}
2. {Buy A Versace Cologne}
3. {Browse Women's Perfume}

---

## Individual Results & Observations

### {Quynh Nguyen}

- {She had no problem find}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {John Doe}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Jordan Doe}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.