# User Testing Report

User testing was conducted by {Nichole Veiro} on {April 3rd} between the times of {10:00am} and {11:00pm} with the following participants:

- {Quynh Nguyen}
- {Elzahra Elghirani}
- {Iman Ghader}

## Tasks

1. {Add a Chloe perfume to your cart}
2. {Buy A Versace Cologne}
3. {Browse Women's Perfume}

---

## Individual Results & Observations

### {Quynh Nguyen}

- {She performed the task properly}
- {She had no problem finding the product}


### {Elzahra Elghirani}

- {She nagivated from the home page to the product easily}
- {She asked why the the image placeholders are so big, hard see my links/products}

### {Iman Ghader}

- {She started from the homepage and moved to fragrances}
- {She clicked the secondary link menu showed then she clicked on womens perfume to browse.}
- {She didn't ask any questions}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {I Could pick a darker colour for my links instead of light gray}
- {Fix links on live site, Search bar and Thank you page not linked properly}
- {Better sized images}

### Serious, Causes Frustration, May Hinder Completion

- {Quynh and Iman had no problems with the link colour but Elzahara did}


### Minor, Annoying, Won’t Hinder Completion

- {Participants had no issues with my site and completed all their tasks properly}
