	<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex" src="{{site.baseurl}}/images/perfume-13.jpg" alt=" a placeholder">
			</div>
				<div class="media-body">
					 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-dc"><strong>DOLCE & GABBANA </strong><em>The One</em></a></p>
			 <p>$100.00</p>
					
					<p><strong>Quantity</strong></p>
						<select id="dropblock">
							<option selected="selected" role="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="{{site.baseurl}}/cart/"> Add to Cart</a>
				</div>
			</div>
	</div>
			
	<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex" src="{{site.baseurl}}/images/cologne-2.jpg" alt=" a placeholder">
			</div>
				<div class="media-body">
					<p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-lacoste"><strong>LACOSTE </strong><em>Essential</em></a></p>
			 		<p>$40.00</p>
					<p><strong>Quantity</strong></p>
						<select id="dropblock">
							<option selected="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="{{site.baseurl}}/cart/"> Add to Cart</a>
				</div>
			</div>
		<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex" src="{{site.baseurl}}/images/cologne-1.jpg" alt=" a placeholder">
			</div>
				<div class="media-body">
					<p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-chanel"><strong>CHANEL </strong><em>Egoiste</em></a></p>
			 		<p>$35.00</p>
					<p><strong>Quantity</strong></p>
						<select id="dropblock">
							<option selected="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="{{site.baseurl}}/cart/"> Add to Cart</a>
				</div>
			</div>
			
			<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex" src="{{site.baseurl}}/images/perfume-14.jpg" alt=" a placeholder">
			</div>
				<div class="media-body">
					  <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-marc"><strong> MARC JACOBS FRAGRANCE </strong><em>Daisy</em></a></p>
			 			<p>$20.00</p>
					<p><strong>Quantity</strong></p>
						<select id="dropblock">
							<option selected="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="{{site.baseurl}}/cart/"> Add to Cart</a>
				</div>
			</div>
			
	</div>