	<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex"src="http://placehold.it/540x300" alt="placeholder">
			</div>
				<div class="media-body">
					 <p class="bucket-title"><a href="{{site.baseurl}}/product-details.html"><strong> MARC JACOBS FRAGRANCE DAISY</strong></a></p>
					<p> $15.00</p>
					<p>Enter the world of Daisy: fresh and feminine, with a playful innocence.</p>
					
					<p>Quantity</p>
						<select id="dropblock">
							<option selected="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="/cart"> Add to Cart</a>
				</div>
			</div>
			
				<div class="product">
		
		<div class="media-img">
			<div class="media-img-stacked">
				<img class="img-flex"src="http://placehold.it/540x300" alt="placeholder">
			</div>
				<div class="media-body">
					 <p class="bucket-title"><a href="#"><strong> MARC JACOBS FRAGRANCE DAISY</strong></a></p>
					<p> $15.00</p>
					<p>Enter the world of Daisy: fresh and feminine, with a playful innocence.</p>
					
					<p>Quantity</p>
						<select id="dropblock">
							<option selected="selected">Select Option</option>
							<option>Text 2</option>
							<option>Text 3</option>
							<option>Text 4</option>
						</select>
				
				<a class="btn micro" href="/cart"> Add to Cart</a>
				</div>
			</div>

			
	</div>