<div class="billboard baseline">
		
		<div class="media">
			<div class="media-img">
				<img src="{{site.baseurl}}/images/lg-promo.jpg" alt="large promo perfume image">
		</div>
					
		<div class="media-body">
			<h1>Just Arrived</h1>
			<p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-dior/"><strong>JUICY COUTURE </strong><em>Viva La Juicy</em></a></p>
			<p>$55.00</p>
			<p>A decidedly young scent for those who dare to dream. A light, subtly sensual fragrance, filled with vitality and energy, evolves from one moment to the next, each wholly unique.</p>
			<a class="btn micro" href="{{site.baseurl}}/fragrance/"> Shop Now</a>
		</div>
		</div>
		</div>