	<div class="grid">
		<div class="unit unit-s-1-3 unit-m-1-3">
			<img class="img-flex" src="{{site.baseurl}}/images/cologne-1.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-chanel"><strong>CHANEL </strong><em>Egoiste</em></a></p>
			 <p>$35.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/cologne-2.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-lacoste"><strong>LACOSTE </strong><em>Essential</em></a></p>
			 <p>$40.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/cologne-3.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-hermes"><strong>HERMÈS </strong><em>Terre d'Hermès</em></a></p>
			 <p>$120.00</p>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="unit unit-s-1-3 unit-m-1-3">
			<img class="img-flex" src="{{site.baseurl}}/images/perfume-6.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-lancome"><strong>LANCÔME </strong><em>La vie est belle</em></a></p>
			 <p>$60.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-7.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/mens-bvlgari"><strong>BVLGARI </strong><em>Aqva Amara</em></a></p>
			 <p>$90.00</p>
			</div>
		</div>
			<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-13.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-dc"><strong>DOLCE & GABBANA </strong><em>The One</em></a></p>
			 <p>$100.00</p>
			</div>
		</div>
	</div>