	<div class="grid">
		<div class="unit unit-s-1-3 unit-m-1-3">
			<img class="img-flex" src="{{site.baseurl}}/images/perfume-8.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-chance"><strong>CHANEL</strong> <em>Chance</em></a></p>
			 <p>$55.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-9.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-liz-james"><strong>ELIZABETH AND JAMES </strong><em>Nirvana Black</em></a></p>
			 <p>$20.00</p>
			</div>
		</div>
	<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-14.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-marc"><strong> MARC JACOBS FRAGRANCE </strong><em>Daisy</em></a></p>
			 <p>$20.00</p>
			</div>
		</div>
	</div>
		<div class="grid">
		<div class="unit unit-s-1-3 unit-m-1-3">
			<img class="img-flex" src="{{site.baseurl}}/images/perfume-6.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-lancome"><strong>LANCÔME </strong><em>La vie est belle</em></a></p>
			 <p>$60.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-13.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-dc"><strong>DOLCE & GABBANA </strong><em>The One</em></a></p>
			 <p>$100.00</p>
			</div>
		</div>
		<div class="unit unit-s-1-3 unit-m-1-3">
		<img class="img-flex" src="{{site.baseurl}}/images/perfume-10.jpg" alt=" a placeholder">
			<div class="gutter">
			 <p class="bucket-title"><a href="{{site.baseurl}}/fragrance/womens-tocca"><strong>TOCCA BEAUTY </strong><em>Simone</em></a></p>
			 <p>$60.00</p>
			</div>
		</div>
	</div>