@charset "UTF-8";
/* CSS Document */

.grid {
	overflow:hidden;
}

.unit {
	/*display: inline-block;*/
	float: left;
	background-color: #fff;
}

.unit-s-1 {
	width: 100%;
}

.unit-s-1-2 {
	width:50%;
}

@media only screen and (min-width: 35em) {
	.unit-m-1-3 {
		width: 33.3333%
	}
	
	.unit-m-1{
		width: 100%;
	}
	
	.unit-m-1-2 {
		width: 50%;
	}
}