---
layout: default
title: Fragrance
---
{% include sub-nav.html %}

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
<h1>Fragrance Essentials</h1>
<p>Everything you need to keep smelling your best</p>
</div>
</div>

<ul>
{% for fragrance in site.pages %}
{%if fragrance.category =='fragrance' %}


<li>
	<a href="{{site.baseurl}}{{fragrance.url}}">
	<img src="{{site.baseurl}}/images/{{fragrance.image}}" alt="" width="400">
	{{fragrance.title}}
	</a>
</li>

{% endif %}
{% endfor %}
</ul>




<h2>Women's Perfume</h2>
{% include promo-small.html %}

<h2>Men's Cologne</h2>
{% include promo-small.html %}

{{content}}



