<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Olor De Veiro</title>
	<meta name="handheldfriendly" content="true">
	 <meta name="mobileoptimized" content="240">
	 <meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
</head>
 	
		<header role="banner">
			<a class="block-link" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" alt="olor de veiro company logo" class="logo"></a>
			<div id='shopmenu'>
				<ul>
				<li ><a href="{{site.baseurl}}/cart"><span>My Cart</span></a></li>
				</ul>
			</div>
			
	
			<form class="searchform cf" method="get" action="{{site.baseurl}}/search" id="search" role="search">
			  <input type="text" placeholder="Search">
			  <button type="submit">Search</button>
			</form>
		
		<div id='cssmenu' role="nagivation">
		<ul>
		   <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/"><span>Home</span></a></li>
		   <li class="{% if page.url == '/fragrance/' %}active{% endif %}"><a href="{{site.baseurl}}/fragrance/">Fragrance</a></li>
		   <li class="list-group-item list-group-item-inline">
          <li class="{% if page.url == '/about/' %}active{% endif %}"><a href="{{site.baseurl}}/about/">About</a></li>
		</ul>
		</div>
		
		</header>
		
{% if.page.showbanner %}	
<div class="banner">
	<h2>{{page.bannertext}}</h2>
</div>
{% endif %}
		
		{{content}}
		
		<footer class="bottom">
			<p>Copyright © 2014</p>
		

			<ul class="social list-group">
				<li class="list-group-item-list-group-item-inline" role="contentinfo">
					<a class="ease-all" href="http://www.facebook.com">
						<i class="fa fa-facebook"></i>
						<span class="hide-text">Facebook</span>
					</a>
				</li>
			
				<li class="list-group-item-list-group-item-inline">
					<a class="ease-all" href="http://www.twitter.com">
						<i class="fa fa-twitter"></i>
						<span class="hide-text">Twitter</span>
					</a>
				</li>
				<li class="list-group-item-list-group-item-inline">
					<a class="ease-all" href="http://www.instagram.com">
						<i class="fa fa-instagram"></i>
						<span class="hide-text">Instagram</span>
					</a>
				</li>
				</ul>
				
		</footer>
<body>
</body>
</html>
